<template>
  <div>
    <div class="posts">
      <div class="post-card" v-for="post in posts" :key="post.id">
        <div class="post-card-body">
          <h3>{{ post.title }}</h3>
          <p>{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
mounted(){
  return this.$axios
      .$get("https://jsonplaceholder.typicode.com/posts")
      .then( res => {
        this.posts = res;
      })
},

//***asyncData****//
  // asyncData({ $axios }) {
  //   return $axios
  //     .$get("https://jsonplaceholder.typicode.com/posts")
  //     .then((res) => {
  //       return {
  //         posts: res,
  //       };
  //     });
  // },

//***fetch****//

  // async fetch() {
  //     this.posts = await fetch('https://jsonplaceholder.typicode.com/posts').then(res =>
  //       res.json()
  //     )
  //   },


    data() {
    return {
      posts: [],
    };
  },


}
</script>

<style>
.container {
  margin: 0 auto;
  text-align: center;
}
.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.post-card {
  border: 2px solid teal;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 10px 0 10px 0;
}
</style>